body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: fit-content;
    min-height: fit-content;
    background-color: #F7F7F7;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  .raw-text{
    color: #000000;
    padding: 10px;
  }
  .header {
    background-color: #f5ba13;
    margin: auto -16px;
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  }
  h1{
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
  }
  p{
    color: #000000;
    font-family: "McLaren", cursive;
    font-weight: 140;
  }

.button{
    margin: 40px;
    border-radius: 6px;
    padding: 5px;
    font-size: large;
    border-color: aliceblue;
    background-color: #FAB162;
}
.phone{
    text-align: center;
    margin: 10px;
    font-size: larger;
}
.footer {
  position: absolute;
  text-align: center;
  bottom:-1;
  width: 100%;
  justify-content: center;

}
.media{
  position: absolute;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
}
ul{
  list-style-type: none;
}
.media-items{
  margin:7px;
  padding:1px;
  
}